<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.emf.codegen.ecore.genmodel.presentation.GenModelEditorID?before=open-actions">
         <menu
               label="OPCoach"
               icon="icons/opcoach.png"
               id="com.opcoach.menu">
            <command
                  commandId="com.opcoach.genmodeladdon.generateSourceFolder"
                  style="push"
                  tooltip="Generate a derived source folder extending the default EMF generated one.\nGenerate also the appropriate &apos;override_factory&apos; extension and manage overridden classes.">
            </command>
            <command
                  commandId="com.opcoach.genmodeladdon.ui.generateAntFile"
                  style="push"
                  tooltip="This command will generate a simple ant file that can generate automatically the EMF code ">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="com.opcoach.genmodeladdon.ui.genModelSelected">
               </reference>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.opcoach.genmodeladdon.handlers.GeneratedDerivedSourceFolder"
            name="Generate Derived Source Folder"
            id="com.opcoach.genmodeladdon.generateSourceFolder">
      </command>
      <command
            defaultHandler="com.opcoach.genmodeladdon.handlers.GenerateAntFileHandler"
            name="Generate Ant file for code generation"
            id="com.opcoach.genmodeladdon.ui.generateAntFile">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.opcoach.genmodeladdon.ui.genModelSelected">
         <iterate>
            <instanceof
                  value="org.eclipse.emf.codegen.ecore.genmodel.GenModel">
            </instanceof>
         </iterate>
      </definition>
   </extension>
   <extension
         id="com.opcoach.genmodeladdon.ui.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            apply="notexists"
            uri="fragment.e4xmi">
      </fragment>
   </extension>

</plugin>
