/.EMFPatternExtractor.java._trace
/.GenerateAntFileForCodeGeneration.java._trace
/.GenerateCommon.java._trace
/.GenerateDevStructure.java._trace
/.GenerateFactoryOverrideExtension.java._trace
/.EMFPatternExtractor.xtendbin
/.GenerateAntFileForCodeGeneration.xtendbin
/.GenerateCommon.xtendbin
/.GenerateDevStructure.xtendbin
/.GenerateFactoryOverrideExtension.xtendbin
/GenerateFactoryOverrideExtension.java
/EMFPatternExtractor.java
/GenerateAntFileForCodeGeneration.java
/GenerateCommon.java
/GenerateExtensions.java
/GenerateDevStructure.java
/GMAConstants.java
/GMAHelper.java
