/.GenerateAntFileForCodeGeneration.java._trace
/.GenerateDevStructure.java._trace
/.GenerateFactoryOverrideExtension.java._trace
/GenerateAntFileForCodeGeneration.java
/GenerateDevStructure.java
/GenerateFactoryOverrideExtension.java
/.EMFPatternExtractor.java._trace
/EMFPatternExtractor.java
