/GMAGenFeatureImpl.java
/GMAFactoryImpl.java
/GMAGenClassImpl.java
/GMAGenModelImpl.java
/GMAGenOperationImpl.java
/GMAGenPackageImpl.java
/GMAGenParameterImpl.java
/GMAGenTypeParameterImpl.java
/GMAImportManager.java
/GMATransform.java
