<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension-point id="sampleExtensionPoint" name="sampleExtensionPoint" schema="schema/sampleExtensionPoint.exsd"/>

   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            genModel="model/project.genmodel"
            uri="http://com.opcoach.project/1.0"
            class="project.MProjectPackage_MUSTBEREMOVED">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            genModel="model/project.genmodel"
            uri="http://www.opcoach.com/project/documentation/1.0"
            class="project.documentation.MDocumentationPackage_MUSTBEREMOVED">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.factory_override">
      <factory
            uri="http://com.opcoach.project/1.0"
            class="project.impl.ProjectFactoryImpl_MUSTBEREMOVED">
      </factory>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.factory_override">
      <factory
            uri="http://www.opcoach.com/project/documentation/1.0"
            class="project.documentation.impl.DocumentationFactoryImpl_MUSTBEREMOVED">
      </factory>
   </extension>
   <extension
         id="sampleApplication"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.eclipse.equinox.internal.app.ErrorApplication">
         </run>
      </application>
   </extension>

</plugin>
